<form action="/session/create" method="POST" class="form-signin">

    <h2 class="form-signin-heading">Please sign in...</h2>

    <% if (flash && flash.err) {%>
    <ul class="alert alert-success">
        <% Object.keys(flash.err).forEach(function (error) {%>
        <li><%- JSON.stringify(flash.err[error])%></li>
        <%})%>
    </ul>
    <%}%>

    <input class="form-control" type="text" placeholder="Email address" name="email"/>

    <input class="form-control" type="password" placeholder="Password" id="password" name="password"/>

    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign In"/>

    <input type="hidden" name="_csrf" value="<%= _csrf %>"/>

</form>
