<form action="/user/update/<%=user.id%>" method="POST"class="form-signin">
  <input class="form-control" type="text" placeholder="your name" name="name" value="<%=user.name%>"/>

  <input class="form-control" type="text" placeholder="your title" name="title" value="<%=user.title%>"/>

  <input class="form-control" type="text" placeholder="email address" name="email" value="<%=user.email%>"/>

    <% if (session.authenticated && session.User.admin) { %>
        <% if (user.admin) { %>
        <input type="hidden" name="admin" value="unchecked">
        <label class="checkbox"><input type="checkbox" name="admin" checked> Admin</label>
        <% } else { %>
        <input type="hidden" name="admin" value="unchecked">
        <label class="checkbox"><input type="checkbox" name="admin"> Admin</label>
        <% } %>
    <% } %>

    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Proceed"/>
  <input type="hidden" name="_csrf" value="<%= _csrf %>"/>

</form>
