<form id="sign-up-form" action="/user/create" method="POST" class="form-signin">

  <h2 class="form-signin-heading">Create an account</h2>
  <% if (flash && flash.err) {%>
  <ul class="alert alert-success">
    <% Object.keys(flash.err).forEach(function (error) {%>
    <li><%- JSON.stringify(flash.err[error])%></li>
    <%})%>
  </ul>
  <%}%>

  <input class="form-control" type="text" placeholder="your name" name="name"/>

  <input class="form-control" type="text" placeholder="your title" name="title"/>

  <input class="form-control" type="text" placeholder="email address" name="email"/>

  <input class="form-control" type="password" placeholder="password" id="password" name="password"/>

  <input class="form-control" type="password" placeholder="confirm password" name="confirmation"/>

  <br/>

  <input class="btn btn-lg btn-primary btn-block" type="submit" value="Create Account"/>

  <input type="hidden" name="_csrf" value="<%= _csrf %>"/>

</form>
