<div class="container">
  <div class="jumbotron">
    <h1>My Super App</h1>

    <h2>... tracking app activity better than the NSA since long ago.</h2>
    <a href="/user/new" class="btn btn-lg btn-success">Sign up now!</a>
  </div>
</div>
