<tr data-id="<%= user.id %>" data-model="user">
    <%if (user.online) {%>
    <td>Online</td>
    <%} else {%>
    <td>Offline</td>
    <%}%>
    <td><%= user.id %></td>
    <td><%= user.name %></td>
    <td><%= user.title %></td>
    <td><%= user.email %></td>
    <td><a href="/user/show/<%= user.id %>" class="btn btn-sm btn-primary">Show</a></td>
    <td><a href="/user/edit/<%= user.id %>" class="btn btn-sm btn-warning">Edit</a></td>
    <td>
        <form action="/user/destroy/<%= user.id %>" method="POST">
            <input type="hidden" name="_method" value="delete"/>
            <input class="btn btn-sm btn-danger" value="Delete" type="submit"/>
            <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
        </form>
    </td>
</tr>